[submodule "frontend"]
	path = frontend
	url = https://github.com/kaurelia/gold-note-frontend
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/kaurelia/gold-note-backend
	branch = main
